.create-email-account{
    border: 1px solid #727070;
    width: 60%;
    margin: 35px auto;
}
.create-email-account h2{
    text-align: start;
    margin-left: 35px;
    padding: 20px;
}

.create-email-account input{
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 25px 0px;
    outline: none;
}
.create-email-account input[type=submit]{
    border: none;
    background-color: #ff5722;
    color: white;
    font-size: 17px;
    font-weight: 500;
}